@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: Roboto;
}
body{
    background-color: #121117;
    color: #f5f4fc;
}
button{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #a4ffaf;
    color: #0a4412;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    width: 80%;
    height: 60px;
    opacity: 0.8;
    transition: .3s;
}
button:hover{
    opacity: 1;
}
h1{
    color: #908c9c;
}
.inputlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: fit-content;
    border-radius: 15px;
    background-color: #24232b;
}
#EP-MDP{
    font-size: 20px ;
}
#STRONG {
    -webkit-appearance: none;
    width: 300px;
    height: 25px;
    background: #3f3d4b;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .3s;
  }
#STRONG:hover {
    opacity: 1;
  }
  
#STRONG::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #a4ffaf;
    cursor: pointer;
  }
  
#STRONG::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #a4ffaf;
    cursor: pointer;
  }