@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: Roboto;
}
body{
    background-color: #121117;
    color: #f5f4fc;
}
button{
    margin-top: 20px;
    background-color: #a4ffaf;
    color: #0a4412;
    font-size: 18px;
    border: 0;
    width: 80%;
    height: 20%;
    opacity: 0.8;
    transition: .3s;
}
button:hover{
    opacity: 1;
    width: 81%;
    height: 21%;
}
h1{
    color: #6b6875;
}
.inputlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #24232b;
}
#EP-MDP{
    font-size: 20px ;
}
#STRONG {
    width: 300px;
    height: 25px;
    background: #3f3d4b;
    outline: none;
    opacity: 0.7;
    transition: opacity .3s;
  }
#STRONG:hover {
    opacity: 1;
  }
  
#STRONG::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #a4ffaf;
    cursor: pointer;
  }
  
#STRONG::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #a4ffaf;
    cursor: pointer;
  }